.button {
  padding: 13px 20px;
  border: none;
  border-radius: 2px; }
  .button--primary {
    background-color: #E3B873;
    color: #ffffff; }

.container {
  max-width: 1256px;
  margin: auto; }

.block {
  animation: show 2s 1s reverse; }

.header {
  background-color: #131313;
  padding: 24px 0; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  color: #E3B873;
  text-transform: uppercase; }

.nav__item {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 40px; }

.phone {
  color: #E3B873; }

.contacts__phone {
  margin-right: 45px; }

body {
  font-family: sans-serif;
  font-style: 14px; }
