.button
  padding: 0.928rem 1.428px
  border: none
  border-radius: 2px
  text-transform: uppercase
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0 0.357rem 1.071rem rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
