@media screen and ( max-width: 1330px )
  .contacts
    &__phone
      margin-right: 1.428rem
  .nav
    margin-left: 2rem
    &__item
      margin-right: 2.5rem

@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  
@media screen and ( max-width: 992px )
  *::hover
    cursor: none 
    box-shadow: none
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .row
    &--projects
      align-items: flex-end
  .section
    &-title
      &__text
        &--projects
          padding-right: 1rem
  .swiper
    &-slide
      &__heading
        font-size: 1rem
  .card
    &__text
      max-width: 18rem
      padding: 1.5rem 2rem

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
    &--projects
      flex-direction: row
      justify-content: space-between
  .col
    &-30
      width: 100% 
  .card
    &__image
      display: block
      position: relative
      width: 100%
    &__text
      margin-top: -11rem      
    &__title
      font-size: 1.5rem
    &__list
      font-size: 1rem
  .types
    margin-top: 3rem
  .hero
    &::after
      display: none
  .section
    &-title
      &__heading
        font-size: 1.57rem 
      &__word
        &::after
          display: none
  .control
    background: $dark
    &__input
      &-group
        margin-bottom: 4.5rem
        div.invalid
          margin-top: 1rem
    &__button
      margin-top: 7.64rem
      margin-bottom: -9.5rem
    &__policy
      &-label
        position: absolute
        margin-top: -6rem 
      div.invalid
        position: absolute
        left: 0
        top: -2rem
    &__text
      color: $light
    &__form
      flex-direction: column
    &__label
      margin-bottom: 0.5rem
      color: rgba($light, 0.5)
    &__input
      &::placeholder
        font-size: 1.28rem
        color: $light
    &__policy
      &-label
        color: $light
      div.invalid
        width: 85vw
  .types
    &__card
      margin-bottom: 5rem 
  .card
    &__text
      margin-left: 0  
  .design
    background: none
    background-color: $dark 
    &__card
      margin-bottom: 6rem
  .section-title
    &__heading
      &--design
        color: $light
  .design
    margin-bottom: -0.5rem
    padding-bottom: 0
    &__section-text
      max-width: 28rem
      font-size: 1.2rem
      color: $light
  .footer
    background: $dark
    &__wrap
      margin: 0 auto 
      padding: 0
      background-color: $dark
    &__input
      &-group
        flex-basis: 100%
        margin-bottom: 2rem
    &__policy
      align-items: start
    &__button
      min-width: 24.28rem
    &__contacts
      &--mobile
        display: block
      &--desktop
        display: none
    &__adress
      &-text
        width: 85vw
    &__map
      margin-top: 5rem
      margin-bottom: 1rem
  .animated 
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important

@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
    &__scroll-down
      display: none
  .row
    &--projects
      flex-direction: column
      align-items: center
  .col-45
    width: 95%
  .col-55
    width: 95%
  .swiper
    &-container
      margin-bottom: 2.56rem
    &-button
      &-prev, &-next
        background-size: 3rem
  .section
    &__control
      padding: 5.7rem 0
  .control
    &__input
      color: $light
  .design  
    &__section-text
      width: 95vw
      font-size: 0.85rem
      line-height: 1.5rem
  .footer
    &__wrap
      width: 95%
  .success-dialog
    width: 90vw
    &__text
      max-width: 80vw
  .modal 
    &__policy
      &-label
        font-size: 1rem
        div.invalid
          line-height: 1rem
    
@media screen and ( max-height: 320px )
  .contacts
    &__phone
      &--header
        padding-right: 2rem
  .container
    width: 95%
  .modal
    weight: 100vw
    &__form
      weight: 95vw 
      margin: 0
    &__button
      margin-top: 5rem
      width: 75vw
    &__policy
      &-label
        position: relative
        div.invalid
          position: absolute
          margin-top: 1rem
          margin-bottom: 4rem
    &__input
      &-group  
        &:last-of-type
          margin-bottom: 3rem
