.projects
  margin-top: -5px
  padding-bottom: 30rem
.section-title
  &__heading
    &--primary
      text-align: left
.swiper
  align-items: flex-end
  &-slide
    display: flex
    flex-wrap: wrap
    margin-bottom: 2.42rem
    &__text
      flex-basis: 50%
      padding-bottom: 2rem
    &__heading
      margin-bottom: 0.64rem
      font-family: 'Yeseva One', cursive
      font-size: 1.285rem
      line-height: 1.78rem
      color: $primary
      text-transform: uppercase
  &-pagination
    &-bullet
      background-color: rgba($light, 0.3)
      &-active
        background-color: $light
  &-button
    &-prev, &-next
      bottom: 0
      top: auto
      background-size: 3rem
      width: 3rem
      height: 1rem
      &::after
        display: none
    &-next
      background: url('../img/arrow-next.svg') no-repeat center
    &-prev
      left: 0
      background: url('../img/arrow-prev.svg') no-repeat center
  &-img
    width: 100%
    overflow: hidden
.row
  &--projects
    align-items: flex-end

.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: 0

