.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 6rem
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 5.714rem
    height: 100%
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    min-width: 17.643rem
    min-height: 6.928rem
    background-color: $dark
    text-transform: uppercase
    text-decoration: none
    color: $light
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center 
      width: 2.143rem
      height: 2.143rem
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 0.857rem
  &__content
    position: relative
    margin-left: 4.28rem
    max-width: 47.857rem
  &__text
    font-size: 1.571rem
    max-width: 35.714rem
  &__button
    margin-right: 1.428rem
    

.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    display: flex
    align-items: center
    line-height: 0.8
    text-transform: uppercase
    text-decoration: none
    transform: rotate(90deg)
    color: $primary
    &::after
      content: ''
      width: 3.571rem
      height: 0.0714rem
      background-color: $primary
      margin-left: 0.571rem

.title
  margin: 0
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 2.857rem
  &--primary
    color: $primary

